<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498176895287-pkco6phbad7rdalgm8a1ta3ca0n0u16j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498176895287-pkco6phbad7rdalgm8a1ta3ca0n0u16j</string>
	<key>API_KEY</key>
	<string>AIzaSyD0jHvRS8-2qHAM8QGXCgrYcWggavdX58U</string>
	<key>GCM_SENDER_ID</key>
	<string>498176895287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngodangtan.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-2121a</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-2121a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498176895287:ios:b773103a5e9b73a58692b2</string>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial-2121a.firebaseio.com</string>
</dict>
</plist>